.h5-footer-ad-container {
  bottom: 0;
  display: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 970px;
  overflow: visible;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 900; /* set this to a value that enables the footer ad to overlap any other elements on the page. */
}

.h5-footer-ad-close {
  align-items: center;
  appearance: none;
  background-color: #cbcdce;
  border: 2px solid #222223;
  border-radius: 12px 12px 0 0;
  color: #222223;
  display: flex;
  height: 24px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: -24px;
  width: 60px;
}

@media (min-width: 1000px) {
  .h5-footer-ad-close {
    border-radius: 0 12px 12px 0;
    height: 60px;
    width: 24px;
    right: -24px;
    top: 0
  }
}

.h5-footer-ad-close:hover {
  background-color: white;
}

.h5-footer-ad-close::after {
  content: "×";
  display: inline-block;
}

.is-shifted-bottom {
  margin-bottom: -70px;
}

.is-shifted-bottom:hover {
  margin-bottom: 0;
}
